body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 800px;
    margin-top: 20px;
    margin-left: calc(50% - 400px);
    display: inline-block;
}

/* logo */

header > img {
    width: 100px;
    height: 30px;
    float: left;
    margin-top: 5px;
}

div {
    float: right;
}

nav {
    margin-top: 10px;
    float: left;
    margin-right: 30px;
}

a {
    color: #333;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    text-decoration: none;
}
a:hover{
    padding-bottom: 5px;
    color: red;
    border-bottom: 3px solid red;
}

a + a {
    margin-left: 30px;
}

/* User avatar */
div > img {
    width: 40 px;
    height: 40px;
    float: right;
    border-radius: 50%;
    cursor: pointer;
}