body, body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header {
    width: 1200px;
    margin: 20px calc(50% - 600px) 0;
    display: inline-block;
}

/* logo */

.logo {
    width: 100px;
    height: 30px;
    float: left;
    margin-top: 5px;
}

.main-header-right-side {
    float: right;
}

.main-menu {
    margin-top: 10px;
    float: left;
    margin-right: 30px;
}

.menu-link {
    color: #333;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    display: inline-block;
    text-decoration: none;
    margin-right: 30px;
}

.menu-link:hover{
    padding-bottom: 5px;
    color: red;
    border-bottom: 3px solid red;
}

.menu-link:last-child{
    margin-right: 0;
   
}

/* User avatar */
.user-avatar {
    width: 40 px;
    height: 40px;
    float: right;
    border-radius: 50%;
    cursor: pointer;
}

main{
    display: inline-block;
    width: 1200px;
    margin: 20px calc(50% - 600px) 40px;
}

.hero{
    width: 100%;
    min-height: 280px;
    padding: 30px;
    margin-bottom: 30px;
    background-color: aquamarine;
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero > div{
    width: 30%;
}

.main-title {
    margin-bottom: 30px;
}

.neighborhood {
    float: left;
    width: 60%;
    margin-right: 30px;
}

.recommended {
    float: right;
    width: calc(40% - 30px);
}

.section-title {
    width: 100%;
    margin-bottom: 30px;
}
.section-title > .title {
}
.section-title > .description {
}

.neighborhood-listing {
    width: 100%;
}
.neighborhood-listing > .listing-item {
    width: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;
    float: left;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.neighborhood-listing > .listing-item:nth-child(3) {
    margin-right: 0;
}
.neighborhood-listing .item-image {
    width: 100%;
    height: 250px;
    object-position: center;
    object-fit: cover;
}
.neighborhood-listing .item-size {
    background-color: #889EF9;
    color: #ffffff;
    position:absolute;
    top: 0;
    right: 0;
    padding: 15px 10px;
    border-radius: 0 0 0 20px;
}

.neighborhood-listing .item-details {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(3px);
}
.neighborhood-listing .location {}
.neighborhood-listing .name {}

.recommended-listing {
    width:100%;
}
.recommended-listing > .listing-item {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.recommended-listing > .listing-item:last-child{
    margin-bottom: 0;
}

.recommended-listing .item-image {
    width: 25%;
    height: 120px;
    float: left;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
    border-radius: 10px;
}
.recommended-listing .item-details {
    width: calc(75% -40px);
    float: left;
    margin-top: 10px;
}

.recommended-listing .item-price {
    font-weight: bold;
    font-size: 20px;
}
.recommended-listing .location-street {
    font-size: 18px;
}
.recommended-listing .location-city {
    font-size: 16px;
}
.recommended-listing .item-features {
    display: inline-block;
    font-size: 14px;
}
.recommended-listing .feature {
    float: left;
    margin-right: 10px;
}



